html {
  height: 100%; }

body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.42857143; }

.description {
  font-size: 15px;
  padding-bottom: 20px; }

.form-class {
  padding-top: 10px;
  padding-bottom: 15px; }
  .form-class p {
    font-size: 15px; }

.nav-blue {
  background-color: #428BCA; }

.navbar {
  min-height: 10px;
  border: none;
  margin-bottom: 0px; }

.navbar-default .navbar-nav .active {
  color: #CDDDEB; }
  .navbar-default .navbar-nav .active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent; }
  .navbar-default .navbar-nav .active a {
    background-image: none;
    background: none;
    box-shadow: none;
    color: #FEF7EB;
    background-color: transparent; }
    .navbar-default .navbar-nav .active a:hover {
      color: #FEF7EB;
      background-color: transparent; }
.navbar-default .navbar-nav > li > a {
  color: #CDDDEB;
  padding-top: 10px;
  padding-bottom: 10px; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #FEF7EB; }

.content-header {
  padding-top: 20px;
  padding-bottom: 20px; }

.site-name {
  font-size: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 0px; }

.site-slogan {
  font-size: 20px;
  color: #999999;
  margin-bottom: 0px; }

.layout-sidebar img {
  width: 100%; }

.layout-sidebar-first {
  background-color: #F5F5F5;
  padding: 15px;
  border-radius: 4px;
  margin: 0px -15px 15px -15px; }
  .layout-sidebar-first h2 {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    margin-top: 0px; }
  .layout-sidebar-first .block-align + .block-align {
    margin-top: 20px; }
  .layout-sidebar-first .node-save-button {
    margin-bottom: 0px; }

.layout-sidebar-second {
  padding-bottom: 30px;
  padding-top: 1px; }
  .layout-sidebar-second h2 {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    margin-top: 15px; }
  .layout-sidebar-second ul {
    padding-left: 0px; }
  .layout-sidebar-second li {
    list-style: none; }
  .layout-sidebar-second .block-align {
    margin-bottom: 30px; }
  .layout-sidebar-second .node-save-button {
    margin-bottom: 0px; }

.layout-content {
  font-size: 18px;
  line-height: 1.5;
  color: #555555; }
  .layout-content h2 {
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333; }
  .layout-content h3 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333; }
  .layout-content .main-heading {
    margin-bottom: 5px;
    font-size: 40px;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333; }
  .layout-content .meta-date {
    margin-bottom: 20px;
    color: #999999; }
  .layout-content img {
    margin: 7px 10px 10px 0px;
    float: left; }
    .layout-content img.align-left {
      margin: 5px 10px 5px 0px; }
    .layout-content img.align-right {
      margin: 10px 0px 5px 10px;
      float: right; }
    .layout-content img.align-center {
      margin-top: 5px;
      margin-bottom: 5px;
      float: none;
      margin-left: auto;
      margin-right: auto; }

.node-links {
  padding: 0px;
  border-radius: 15px;
  margin: 30px 0px; }
  .node-links li {
    list-style: none;
    display: inline; }
    .node-links li.node-readmore {
      float: right; }
  .node-links li:not(.node-readmore) + li {
    margin-left: 20px; }

.content-post {
  margin-bottom: 60px;
  margin-top: 20px; }

.mini-pager {
  margin-bottom: 60px;
  text-align: left;
  padding-left: 0; }
  .mini-pager li {
    display: inline; }
  .mini-pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD; }
  .mini-pager a:hover {
    text-decoration: none;
    background-color: #EEEEEE; }

.node-comment {
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px; }
  .node-comment footer {
    float: right; }
    .node-comment footer p {
      font-size: 15px; }
  .node-comment .node-links {
    padding: 0px;
    margin: 0px; }

.comment-listing {
  padding-top: 10px; }
  .comment-listing h2 {
    font-size: 24px; }
  .comment-listing h3 {
    font-size: 20px; }

.indented {
  padding-left: 30px; }

.node-save-button {
  margin-top: 10px;
  margin-bottom: 10px; }

.form-control {
  font-size: 15px; }

.footer-class {
  padding: 35px;
  color: #999999;
  text-align: center;
  background-color: #F9F9F9;
  border-top: 1px solid #E5E5E5; }

.item-list {
  padding: 0px; }
  .item-list li {
    margin-top: 15px;
    margin-bottom: 20px;
    list-style: none; }

.block-align:after {
  content: ' ';
  display: block;
  clear: both; }

fieldset {
  margin-top: 20px;
  margin-bottom: 5px; }

@media (min-width: 768px) {
  .container {
    width: 970px; } }
@media (max-width: 768px) {
  .nav li {
    display: inline-block; }

  .layout-sidebar img {
    width: auto; } }

/*# sourceMappingURL=blog-style.css.map */
